* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(assets/assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --switch-bg-url: url(assets/assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(assets/assets/bg-mobile-light.jpg);
  --stroke-color: black;
  --surface-color: rgba(0, 0, 0, 0.05);
  --switch-bg-url: url(assets/assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
}

ul {
  list-style: none;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li {
  border-radius: 8px;
  display: flex;
  padding: 16px;
  justify-content: center;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  cursor: pointer;
  transition: all 0.3s ease;
}

ul li a {
  color: var(--text-color);
  text-decoration: none;
}

ul li:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--stroke-color);
}

#icones {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#icones a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.5s;
}

#icones a:hover {
  background-color: var(--surface-color);
}

footer {
  text-align: center;
  padding: 24px 0;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  animation: volta 0.5s forwards;
  cursor: pointer;
  margin-right: 40px;
}

.light #switch button {
  animation: desliza 0.5s forwards;
}

#switch span {
  display: block;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  width: 64px;
  height: 24px;
  border-radius: 9999px;
}

#switch {
  justify-content: center;
  display: flex;
}

@keyframes desliza{
  from{
  margin-right: 40px;
  margin-top: -2px;
  }
  
  to{
      margin-left: 74px;
      margin-top: -2px;
  }
}

@keyframes volta{
  from{
      margin-left: 74px;
      margin-top: -2px;
  }

  to{
      margin-right: 40px;
      margin-top: -2px;
  }

}
